<div class="row mt-5">
    <div class="col">
        <span class="float-right mb-1"><i class="fa fa-plus-square-o fa-2x" style="cursor: pointer" aria-hidden="true" data-toggle="modal" data-target="#modalClient"  data-placement="top" title="Nuevo Cliente"></i>Nuevo Cliente</span>



        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NOMBRES</th>
                    <th scope="col">APELLIDOS</th>
                    <th scope="col">TIPO&nbsp;DOC</th>
                    <th scope="col">NUMERO&nbsp;DOC</th>
                    <th scope="col">FECHA&nbsp;NAC</th>
                    <th scope="col">OBSERVACION</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cli of clientes; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ cli.nombres }}</td>
                    <td>{{ cli.apellidos }}</td>
                    <td>{{ cli.tipo_doc }}</td>
                    <td>{{ cli.num_doc }}</td>
                    <td>{{ cli.fecha_nac }}</td>
                    <td>{{ cli.observacion }}</td>
                    <td>

                        <i class="fa fa-pencil-square-o fa-2x" style="cursor: pointer" aria-hidden="true" data-toggle="modal" data-target="#modalEditClient" (click)="enviar(cli)" data-placement="top" title="Editar Cliente"></i>

                    </td>
                    <td>
                        <i class="fa fa-trash-o float-right text-danger fa-2x" style="cursor: pointer" (click)="eliminar(cli.id)" aria-hidden="true" data-placement="top" title="Eliminar Cliente"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>-->
    </div>
</div>
<app-modal [edit]="idCliente"></app-modal>